  <div>
    <div class="row">
      <div class="col-sm-2 col-lg-2">
        <div class="side-nav">
          <div class="side-nav-img">
            <img src="https://res.cloudinary.com/dzayx1lhk/image/upload/v1585494539/wo64byxgvgz6qyzaxs5n.jpg" alt="">
          </div>
          <div class="side-nav-tab-container">
            <div class="side-bar-tab active" id="side-bar-about">
              <p>About Me</p>
            </div>
            <div class="side-bar-tab" id="side-bar-skills">
              <p>Skills</p>
            </div>
            <div class="side-bar-tab" id="side-bar-projects">
              <p>Projects</p>
            </div>
          </div>
          <div class="nav-footer">
            <a  id="linkedin-btn" class="btn btn-flat" href="#"><i class="fab fa-linkedin"></i></a>
            <a  id="github-btn" class="btn btn-flat" href="#"><i class="fa fa-github"></i></a>
          </div>
        </div>
      </div>
      <div class="col-sm-10 col-lg-10">
        <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://source.unsplash.com/1600x900/?web);">
          <div class="banner-content">
            <h1>Romain Penaruiz</h1>
            <p>Junior web developer based in Montreal</p>
            <div class="banner-btn">
              <a  id="linkedin-btn" class="btn btn-flat" href="#"><i class="fab fa-linkedin"></i></a>
              <a  id="github-btn" class="btn btn-flat" href="#"><i class="fa fa-github"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-10 col-lg-10">
        <div class="about-content-container">
          <div class="about-content">
            <h1>About me</h1>
            <p>
                I'am excited to be in a new phase of my carrer. I started by getting a bachelor's degree
                in Psychology and a Minor in Marketing. However, After working as a community manager for a company in Los Angeles,
                I discover my passion for coding.
                I decided to leave the U.S and move to Montreal to join an intensive 9 weeks bootcamp to learn web development.
                This has been the best decision in my life so far. I landed my first job as a Full stack web developer for a company in Montreal,
                but unfortunatly due to the covid-19 I had to leave. I'am now seeking another job opportunity as a full-stack web developer. 
                I'am very passionate and eager to learn new technologies.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-10 col-lg-10">
        <div class="skills-content-container">
          <div class="skills-content-title">
            <h1>Skills</h1>
          </div>

          <div class="skills-body-content">

            <h4>Front End</h4>
            <div class="skills-card-container">
              <div class="skills-content-card">
                <div class="row">
                  <div class="col-sm-6 col-lg-6">
                    <h1>HTML</h1>
                  </div>
                <div class="col-sm-6 col-lg-6">
                  <img src="images/Logo/html5.png" />
                </div>
                </div>            
              </div>
              <div class="skills-content-card">
                <div class="row">
                  <div class="col-sm-6 col-lg-6">
                    <h1>CSS</h1>
                  </div>
                <div class="col-sm-6 col-lg-6">
                  <img src="images/Logo/css.png" />
                </div>
                </div>            
              </div>
              <div class="skills-content-card">
                <div class="row">
                  <div class="col-sm-6 col-lg-6">
                    <h1>SASS/SCSS</h1>
                  </div>
                <div class="col-sm-6 col-lg-6">
                  <img src="images/Logo/sass.png" />
                </div>
                </div>            
              </div>
              <div class="skills-content-card">
                <div class="row">
                  <div class="col-sm-6 col-lg-6">
                    <h1>Bootstrap</h1>
                  </div>
                <div class="col-sm-6 col-lg-6">
                  <img src="images/Logo/bootstrap.png" />
                </div>
                </div>            
              </div>
              <div class="skills-content-card">
                <div class="row">
                  <div class="col-sm-6 col-lg-6">
                    <h1>Javascript</h1>
                  </div>
                <div class="col-sm-6 col-lg-6">
                  <img src="images/Logo/javascript.jpg" />
                </div>
                </div>            
              </div>
              <div class="skills-content-card">
                <div class="row">
                  <div class="col-sm-6 col-lg-6">
                    <h1>Angular</h1>
                  </div>
                <div class="col-sm-6 col-lg-6">
                  <img src="images/Logo/angular.png" />
                </div>
                </div>            
              </div>
              <div class="skills-content-card">
                <div class="row">
                  <div class="col-sm-6 col-lg-6">
                    <h1>Jest</h1>
                  </div>
                <div class="col-sm-6 col-lg-6">
                  <img src="images/Logo/jest-512.png" />
                </div>
                </div>            
              </div>
              <div class="skills-content-card">
                <div class="row">
                  <div class="col-sm-6 col-lg-6">
                    <h1>Git</h1>
                  </div>
                <div class="col-sm-6 col-lg-6">
                  <img src="images/Logo/github.png" />
                </div>
                </div>            
              </div>
            </div>
            <h4>Back End</h4>
            <div class="skills-card-container">
              <div class="skills-content-card">
                <div class="row">
                  <div class="col-sm-6 col-lg-6">
                    <h1 class="ruby-title">Ruby on Rails</h1>
                  </div>
                <div class="col-sm-6 col-lg-6">
                  <img src="images/Logo/rails.png" />
                </div>
                </div>            
              </div>
              <div class="skills-content-card">
                <div class="row">
                  <div class="col-sm-6 col-lg-6">
                    <h1>C#</h1>
                  </div>
                <div class="col-sm-6 col-lg-6">
                  <img src="images/Logo/c.png" />
                </div>
                </div>            
              </div>
              <div class="skills-content-card">
                <div class="row">
                  <div class="col-sm-6 col-lg-6">
                    <h1>React</h1>
                  </div>
                <div class="col-sm-6 col-lg-6">
                  <img src="images/Logo/react.jpg" />
                </div>
                </div>            
              </div>
               <div class="skills-content-card">
                <div class="row">
                  <div class="col-sm-6 col-lg-6">
                    <h1>Redux</h1>
                  </div>
                <div class="col-sm-6 col-lg-6">
                  <img src="images/Logo/redux.png" />
                </div>
                </div>            
              </div>
              <div class="skills-content-card">
                <div class="row">
                  <div class="col-sm-6 col-lg-6">
                    <h1>PostgreSQL</h1>
                  </div>
                <div class="col-sm-6 col-lg-6">
                  <img src="images/Logo/postgre.png" />
                </div>
                </div>            
              </div>
            </div>
          </div>
          </div>
          </div>


      </div>
      <div class="col-sm-10 col-lg-10">
        <div class="projects-content-container">
          <h1 class="projects-title">Personel Project:  </h1>
          <div class="card-product">
            <div class="card-img">
              <img src="images/Logo/medFinder.jpg" />
            </div>
            <div class="card-product-infos">
              <h2>Med Finder</h2>
              <p>Travel Med the app that helps your find the equivalence of your home medicine.</p>
              <p>Build with: Ruby on Rails, Javascript, HTML, Sass</p>
              <div class="card-button">
                <button>Visit Site</button>
                <button>View Repo</button>
              </div>
            </div>
          </div>
          <div class="card-product">
            <div class="card-img">
              <img src="images/Logo/frenchLogo.png" />
            </div>
            <div class="card-product-infos">
              <h2>French Community of Portland</h2>
              <p>Designed and built the website from scratch using Wix</p>
              <div class="card-button">
                <button>Visit Site</button>
              </div>
            </div>
          </div>
          <div class="card-product">
            <div class="card-img">
              <img src="images/Logo/dating.jpg" />
            </div>
            <div class="card-product-infos">
              <h2>Dating App</h2>
              <p>Build an app with ASPNET Core and Angular from scratch, Udemy</p>
              <div class="card-button">
                <button>Visit Site</button>
                <button>View Repo</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>

